body {
	background-color: black;
}

.intro {
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	margin: auto;
	margin-top: 15%;
	text-align: center;
	color: white;
}

.guide {
	color: white;
	text-align: center;
	margin-top: 10%;
	/*display: none;*/
}

.guide img {
	width: 75%;
	height: 25%;
	display: none;
}

.help-box {
	position: absolute;
	display: none;
	top: 2%;
	right: 1%;
}

#question-mark {
	width: 50px;
	height: 50px;
}

.help-text {
	position: absolute;
	color: white;
	width: 100%;
	left: 0px;
	text-align: center;
	margin-top: 15%;
	opacity: 0;
	transition: opacity 1s ease-in-out; /* 2 sec fade in/out animation that is triggered when the opacity is changed */
	-moz-transition: opacity 1s ease-in-out; /* For portability */
	-webkit-transition: opacity 1s ease-in-out;
}

#room2 {
	display: none;
}

.elevator-buttons {
	display: grid;
	margin: auto;
	margin-top: 15%;
	gap: 1px;
	grid-template-columns: repeat(2, 2em);
	justify-content: center;
	align-content: center;
	color: white;
    padding: 10px;
  }

  .elevator-buttons > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
  }
